        
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        HOTEL
                        <span class="text-primary">OK</span>
                    </h1>
                    <div class="subheading mb-5">
                        Rua Senador Dantas, nº 24, Centro, Rio de Janeiro/RJ 20031-203 | +55(21) 3226-5151
                        <a href="mailto:name@email.com">reservas@hotelok.com.br</a>
                    </div>
                    
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.instagram.com/hotelokrj/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/hoteisok" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">QUARTOS</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0"></h3>
                            <div class="subheading mb-3">Acomodações</div>
                            <p>Nossos quartos contam com televisão, Wi-Fi, ar-condicionado, banheiro, frigobar, cofre e secador. Temos variadas opções de quartos, com camas de casal e de solteiro (duplas ou triplas), além de quartos especiais para pessoas com mobilidade reduzida. Consulte nossa disponibilidade.</p>
                        </div>
                    </div>
                                       
                    
                </div>
            </section>
            <hr class="m-0" />

            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">AMENIDADES E SERVIÇOS</h2>
                    
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Piscina em terraço amplo
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Academia
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Wi-Fi gratuito
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Salas de eventos
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cafeteria no térreo
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Ponto de táxi em frente ao hotel
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Café da manhã com buffet
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">EVENTOS</h2>
                                        
                    <div class="subheading mb-3">O Hotel OK possui três salas para convenções e eventos empresariais.</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Sala Búzios - 52m²
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Sala Paraty - 60m²
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Sala Saint Tropez - 70m²
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Contato</h2>
                    <p>
                        RESERVAS
                        <br>
                        reservas@hotelok.com.br
                        <br>
                        (21) 96746-5151 (telefone e whatsapp)
                    </p>
                    <p class="mb-0">
                        Rua Senador Dantas, nº 24
                        <br>
                        Centro - Rio de Janeiro/RJ
                        <br>
                        Telefone (recepção) - +55 (21) 3226-5151
                        <br>
                        recepcao@hotelok.com.br
                    </p>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Sobre Nós</h2>
                    <p class="lead mb-5">
                    Fundado em 1949, o Hotel OK é um dos mais tradicionais do Rio de Janeiro. Bem localizado no Centro da cidade, se situa próximo à Lapa – tradicional reduto da boemia carioca – e ao lado da estação de metrô da Cinelândia. Também apresenta fácil acesso à Zona Sul e ao aeroporto Santos Dumont. 
                    </p>
                </div>
            </section>
        </div>
        
