.carousel {
    width:640px;
    height:360px;
    margin-bottom: 32px;
}

 /* Modify the background color */ 
          
.navbar-custom { 
    background-color: #a60203; 
} 
/* Modify brand and text color */ 
  
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #a60203; 
} 